jupyterlab==3.6.8
notebook==6.5.7
ipykernel==6.29.5
ipywidgets==8.1.5

# for job submissions
papermill==2.6.0
git+https://github.com/heilerich/kf_notebook_job@63e3d8e

# extensions
jupyter-resource-usage==0.7.2
jupyterlab_widgets==3.0.3

# kubeflow packages
kfp==1.8.13
